
config LORAWAN_FRAG_TRANSPORT
	bool "Fragmented Data Block Transport"
	help
	  Enables the LoRaWAN Fragmented Data Block Transport service
	  according to TS004 as published by the LoRa Alliance.

	  The version of the specification can be selected with
	  CONFIG_LORAWAN_FRAG_TRANSPORT_VERSION.

	  This service uses port 201.

if LORAWAN_FRAG_TRANSPORT


config LORAWAN_FRAG_TRANSPORT_VERSION
	int "Fragmented Data Block Transport Specification"
	range 1 2
	default 1
	help
	  The implementation considers different versions of the specification
	  released by the LoRa Alliance.

	  Select one of the following revisions:

	  1: TS004-1.0.0
	  2: TS004-2.0.0 (not fully supported, only for testing)

DT_CHOSEN_Z_CODE_PARTITION := zephyr,code-partition

config LORAWAN_FRAG_TRANSPORT_IMAGE_SIZE
	int "Total size of firmware image"
	default $(dt_chosen_reg_size_int,$(DT_CHOSEN_Z_CODE_PARTITION))
	help
	  Size of the flash partition for the application firmware image
	  in bytes.

	  The minimum number of fragments to be transferred is calculated from
	  this value divided by the fragment size.

	  This setting has significant influence on RAM usage.

config LORAWAN_FRAG_TRANSPORT_MAX_FRAG_SIZE
	int "Maximum size of transported fragments"
	range 1 239
	default 232
	help
	  Maximum size of one fragment transferred during the fragmented data
	  block transport session of the FUOTA process. It is chosen on the
	  server side.

	  The fragment has to fit into the LoRaWAN payload, which can be up to
	  242 bytes depending on the region and frequency settings. 3 bytes of
	  the payload are consumed for protocol information.

	  For some MCUs like the STM32WL the fragment size has to be a multiple
	  of 8 (see flash driver for further information).

	  This setting has significant influence on RAM usage. If the exact
	  fragment size is known, use that value for MIN and MAX config to
	  reduce memory consumption.

config LORAWAN_FRAG_TRANSPORT_MIN_FRAG_SIZE
	int "Minimum size of transported fragments"
	range 1 239
	default 48
	help
	  Minimum size of one fragment transferred during the fragmented data
	  block transport session of the FUOTA process. It is chosen on the
	  server side.

	  The fragment has to fit into the LoRaWAN payload, which can be up to
	  242 bytes depending on the region and frequency settings. 3 bytes of
	  the payload are consumed for protocol information.

	  For some MCUs like the STM32WL the fragment size has to be a multiple
	  of 8 (see flash driver for further information).

	  This setting has significant influence on RAM usage. If the exact
	  fragment size is known, use that value for MIN and MAX config to
	  reduce memory consumption.

config LORAWAN_FRAG_TRANSPORT_MAX_REDUNDANCY
	int "Percentage of redundant fragments"
	range 1 100
	default 10
	help
	  The built-in forward error correction (FEC) mechanism allows to
	  reconstruct missed packages from additional redundant packages
	  sent by the server after all packages have been sent.

	  This parameter specifies the maximum amount of packet loss (in
	  percent) for which it should be possible to reconstruct the full
	  firmware image.

	  This setting has significant influence on RAM usage.


endif # LORAWAN_FRAG_TRANSPORT
