
config LORAWAN_REMOTE_MULTICAST
	bool "Remote Multicast Setup"
	depends on LORAWAN_APP_CLOCK_SYNC
	depends on SETTINGS
	help
	  Enables the LoRaWAN Remote Multicast Setup service
	  according to TS005 as published by the LoRa Alliance.

	  The version of the specification can be selected with
	  CONFIG_LORAWAN_REMOTE_MULTICAST_VERSION.

	  The service uses the default port 200.

if LORAWAN_REMOTE_MULTICAST

config LORAWAN_REMOTE_MULTICAST_SESSIONS
	int "Number of possible Multicast Sessions"
	range 1 4
	default 1
	help
	  Choose how much multicast sessions the stack must handle

config LORAWAN_REMOTE_MULTICAST_VERSION
	int "Remote Multicast Setup Specification"
	range 1 2
	default 1
	help
	  The implementation considers different versions of the specification
	  released by the LoRa Alliance.

	  Select one of the following revisions:

	  1: TS005-1.0.0
	  2: TS005-2.0.0 (not fully supported, only for testing)

endif # LORAWAN_REMOTE_MULTICAST
