/*
 * Copyright (c) 2020 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,console = &lpuart1;
		zephyr,shell-uart = &lpuart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &test_fw_partition;
	};
};



&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		test_fw_partition: partition@0 {
			label = "image";
			reg = <0x0 0x30000>;
		};
		slot0_partition: partition@30000 {
			label = "image-1";
			reg = <0x30000 0x1000>;
		};
		slot1_partition: partition@31000 {
			label = "patch";
			reg = <0x31000 0x1000>;
		};
		patch_partition: partition@32000 {
			label = "image-1-verif";
			reg = <0x32000 0x1000>;
		};
	};
};

&lpuart1 {
	pinctrl-0 = <&lpuart1_tx_pa2 &lpuart1_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <921600>;
	status = "okay";
};
